.bookmark-container {
    padding: 5px;
}

.tag {
    padding: 1px 2px;
    background-color: #e3e3e3;
    font-size: 11px;
    margin-right: 5px;
}

.tags-list {
    display: flex;

}

.urlContainer {
    font-size: 11px;
    margin-right: 10px;
}

.delete-btn {
    font-size: 11px;
    padding: 2px;
}
